<form action="/account" method="post">
  Email Address:<input type="email" name="email" value='<%= @user.email %>' required>
  Username:<input type="text" name="user" value ='<%= @user.username %>' required>
  Password:<input type="password" name="pwd" required>
  Password confirmation:<input type="password" name="pwd_confirmation" required>
  <input type="submit" value="submit">
</form>

<% if flash[:notice] %>
  <div id="notice">
    <%= flash[:notice] %>
  </div>
<% end %>
